@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #343a40;
}
body > h1 {
  text-align: center;
  margin: 2rem;
  color: white;
}
.container {
  background-color: #adb5bd;
  width: 70vw;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
}
.container-inside {
  padding: 20px 20px;
}
.container-inside label,
input,
p {
  margin-top: 10px;
  font-size: 1.4rem;
}
.button {
  background-color: #6c757d;
  border: none;
  padding: 2px;
  color: white;
}
.button:hover {
  background-color: #555c63;
}
.container-inside > p {
  display: inline-block;
}
.containerjs p {
  text-align: center;
  margin-bottom: 10px;
}
.containerjs div {
  display: none;
  background-color: #343a40;
  opacity: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
